---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Confirma tu suscripción a la newsletter">
  <h1>Confirma tu suscripción</h1>
  <p>Te hemos enviado un correo de confirmación.</p>
  <p>Por favor, haz click en el enlace que hay en él para confirmar tu suscripción.</p>
</Layout>

<style>
  p {
    width: 100%;
    text-align: left;
  }
</style>