---
import NewsletterForm from '@/components/NewsletterForm.astro'
import Layout from '../layouts/Layout.astro'
import { welcomeEmail } from '@/utils/resend'
import { z } from 'astro:content'

let error: boolean = false
if (Astro.request.method === 'POST') {
  const newsletterFormSchema = z.object({
    name: z.string(),
    email: z.string().email()
  })

  const formData = await Astro.request.formData()

  const name = formData.get('name')
  const email = formData.get('email')

  const newsletterData = {
    name,
    email
  }

  const validatedData = newsletterFormSchema.safeParse(newsletterData)

  if (validatedData.success) {
    error = !await welcomeEmail(validatedData.data.email)

    if (!error) {
      return Astro.redirect('/confirma-tu-suscripcion')
    }
  }
}
---

<Layout title="Welcome to Astro.">
  <h1>Suscríbete a nuestra Newsletter</h1>
  {error && <p>Ha habido un error, inténtalo más tarde.</p>}
  <NewsletterForm />
</Layout>
